<div id="login-form">
  <form  action="/create" method="post">
    <div class="form-control">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name">
    </div>
    <div class="form-control">
      <label for="cooking_time">Cooking time:</label>
      <input type="text" name="cooking_time" id="cooking_time">
    </div>
    <div class="form-control">
      <label for="prep_time">Prep time:</label>
      <input type="text" name="prep_time" id="prep_time">
    </div>
    <div class="form-control">
      <label for="serves">Serves:</label>
      <input type="text" name="serves" id="serves">
    </div>
    <div class="form-control">
      <label for="cuisine">Cuisine:</label>
      <input type="text" name="cuisine" id="cuisine">
    </div>
    <div class="form-control">
      <label for="ingredients">Ingredients:</label>
      <input type="text" name="ingredients" id="ingredients">
    </div>
    <div class="form-control">
      <label for="directions">Directions:</label>
      <input type="text" name="directions" id="directions">
    </div>
    <div class="form-control">
      <input type="submit" value="Submit">
    </div>
  </form>
</div>
