<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DinDin Mobile Website</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <a href="/" id="logo"><img alt="DinDin" src="/images/logo.png"></a>
      {{#if user}}
        <a class="header-button" href="/logout">Logout</a>
        <a class="header-button" href="/create">Create</a>
      {{else}}
        <a href="/login" class="header-button">Login</a>
      {{/if}}
    </header>

    {{{content}}}

    <footer><p>&copy; 2015 DinDin</p></footer>
  </body>
</html>
